#HomeHeader {  
    background-color: #fd6b5b;  
    border: 3px dashed #fff;  
    margin: 25px;  
    padding: 25px;
    }


body {
    background-color: #fd6b5b;
}

img {
    height: 150px;
    width: 150px;
}

li {
    font-family: Lato, Arial;
}
/* 'Gugi', cursive */
h1 {
    font-family: Lato, Arial;
    color: #fff;
    background-color: #fd6b5b;
    border: 3px dashed #fff;
    margin: 25px;
    padding: 25px;
    font-size: 40px;
}
#subtitle {
    color: #fff;
    font-size: 20px;
    /* margin: 5px; */
    /* padding: 15px; */
    position: relative;
    /* left: 100px; */
}

 #controls {
    background-color: #fd6b5b;
    border: 3px dashed #fff;
    margin: 25px;
    padding: 25px;
}

#predictions{
    background-color: #fd6b5b;
    border: 3px dashed #fff;
    margin: 25px;
    padding: 25px;
}

label {
    display: inline-block;
    width: 150px;
}

input {
    background-color: #fd6b5b;
    border: 1px solid red;
    width: 150;
    ;
    } 
#inference{
        background-color: red;
        margin: 4px;
        font-size: 14px;
        color: #fff;
        border: 2px solid red; 
    }
#inference:hover {
    background-color: white; 
    color: black;
    border: 2px solid black;
}
#property_type{
    width:150px;   
    }
#room_type{
    width:150px;   
    }
#address{
    width:300px;   
    }