<html>
<!-- What the page is called in the tab bar  -->
<!-- We will add out stylsheet here later -->
<head>

        <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/home.css" />

    <title> Home Page</title>
</head>
<!-- Put some text on the page -->
<body>
        <img src="https://a0.muscache.com/airbnb/static/logos/belo-200x200-4d851c5b28f61931bf1df28dd15e60ef.png" />
  <h1 id='HomeHeader'>Airbnb: To be or Not to be
      <div id='subtitle'>Host income calculator

      </div>

</h1>
  <p>

    <div id="controls">

            <div>
                <label>San Francisco Address</label>
                <input id="address" type="string" value='44 Tehama St, San Francisco, CA 94105' />
                </div>
   
            <div>
                <label>Cleaning fee</label>
                <input id="cleaning_fee" type="string" value="50" />
            </div>
            <div>
                <label>Bedrooms</label>
                <input id="bedrooms" type="number" value='1' />
            </div>
            <div>
                <label>Guests number</label>
                <input id="guests_included" type="number" value='2' />
            </div>

            <div>
                <label>Room type</label>
                <select id="room_type" type="string">
                        <option value="Entire home/apt">Entire home/apt</option>
                        <option value="Private room">Private room</option>
                        <option value="Shared room">Shared room</option>
                </select>
            </div>
            <div>
                <label>Property type</label>
                <select id="property_type" type="string">
                        <option value="Apartment">Apartment</option>
                        <option value="House">House</option>
                        <option value="Others">Others</option>
                </select>
            </div>
    </div>

        <div id="predictions">

            <div>
                <button id="inference">Predict Revenue</button>
            </div>
            <div>
                <label>Price per night</label>
                <input id="price" type="string" readonly />
            </div>
            <div>
                <label>Monthly occupancy</label>
                <input id="occupancy" type="string" readonly />
            </div>
            <div>
                <label>Monthly Airbnb revenue</label>
                <input id="monthly_revenue" type="string" readonly />
            </div>
            <div>
                <label>Annual revenue</label>
                <input id="annual_revenue" type="string" readonly />
            </div>
            <div>
                <label>Neighbourhood</label>
                <input id="neighbourhood" type="string" readonly />
            </div>
            <div>
                <label>Rent listed on Craigslist</label>
                <input id="craigslist" type="string" readonly />
                <label>(only entire home/apart)</label>
            </div>
        </div>
   



  </p>
  <ul>
      <li>
          <a href="https://s3-us-west-1.amazonaws.com/kun-dsi-69/userguide.pdf">User guide</a>
      </li>
    <li>
      <a href="/about_market_part1">Airbnb SF market and Price</a>
    </li>
    <li>
        <a href="/about_market_part2">Occupancy rate and Income</a>
     </li>
    <li>
        <a href="/about_model">About model</a>
    </li>

  </ul>

  <span>
    This a Galvanize projet built in 2 weeks by Kun Gu.
  </span>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.35.2/plotly.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/static/home.js"></script>

</body>
</html>