<a href="/">Home</a>

<html>
<!-- What the page is called in the tab bar  -->
<!-- We will add out stylsheet here later -->
<head>
    <link rel="stylesheet" href="/static/price.css" />
    <title>Price</title>
</head>
<!-- Put some text on the page -->
<body>
  <h1>All you need to know about price.
</h1>
  <p>
    What you want to know as a Airbnb host.
  </p>

  <span>
    Here is a span
  </span>

  <header>header area</header>

  <div class="scrollmenu">
      <a href="#home">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
      ...
    </div>

    <table style="width:100%">
        <tr>
            <th id="renvenue" type="text">Firstname</th>
            
            <th>Age</th>
        </tr>
        <tr>
            <td>Jill</td>
            <td>Smith</td> 
            <td>50</td>
        </tr>
        <tr>
            <td>Eve</td>
            <td>Jackson</td> 
            <td>94</td>
        </tr>
    </table>

    <div>
        <button id="inference">Predict Revenue</button>
    </div>

    <div id="revenue">
        <input id="revenue" type="text" readonly />
    </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.35.2/plotly.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/static/price.js"></script>

</body>
</html>